<section class="feed_posts posts_section">
        
    <div class="item_detail_container">
        <h3 class="post_content">
            <i class="fa-solid fa-feather-pointed"></i>
            <b> <%= post.content %>  </b></h3>
            <small class="hello">
                <!-- if the user is signed in & the user who is signedIn is the user who Created the post  -->
            <% if(locals.user && locals.user.id == post.user.id){ %>

                <a href="/posts/destroy/<%= post.id %>" class="delete"><i class="fa-solid fa-trash-can"></i></a>

            <% } %> 
                <b class="post_user">
                    <i class="fa-solid fa-user"></i>
                    <%= post.user.name %> 
                </b>
            </small>

    </div>

        <!-- comment form  -->

        <% if(locals.user) { %>

            <form action="/comments/create" 
            class="form_styling" method="post">

                <textarea name="content" class="textarea" cols="30" rows="2" placeholder="Hey!!... What are your thoughts" required ></textarea>
                
                <input type="hidden" name="post" value="<%= post._id %>" >
                
                <input type="submit" value="Comment" class="post-btn">
            </form>
        <% } %>

            <div class="post_comment_list">
                <ul id="post_comments_<%= post._id %>" >
                    <!-- looping comments  -->
                    <% for(comment of post.comments ) { %>
                        <!-- moved comment code to partial file -->
                        <%- include('_comment') -%> 
                        
                    <% } %>
                </ul>
            </div>
        

    
</section>