<link rel="stylesheet" href="/css/home.css">

<!-- <h1>Codeial | <%= title %></h1> -->

<div class="feed_container">
    
    <section class="feed_posts">
        
        <% if (locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" class="textarea" cols="30" rows="3" placeholder="Hey!!... What's on your mind <% if (locals.user) { %><%= user.name %> 
                <% } %>"></textarea>
                <input type="submit" value="Post" class="post-btn">
            </form>

        <% } %>

        
    </section>
    <br>
    <h2 class="feed_head"> <i class="fa-solid fa-newspaper"></i> Feed Area</h1>

    <% for(post of posts) { %>
        <section class="feed_posts posts_section">
            <h2 class="post_content">
                <i class="fa-solid fa-feather-pointed"></i>
                <b> <%= post.content %>  </b></h2>

                <!-- comment form  -->

                <% if(locals.user) { %>

                    <form action="/comments/create" 
                    class="form_styling" method="post">

                        <textarea name="content" class="textarea" cols="30" rows="2" placeholder="Hey!!... What are your thoughts" ></textarea>
                        
                        <input type="hidden" name="post" value="<%= post._id %>" >
                        
                        <input type="submit" value="Comment" class="post-btn">
                    </form>

                <% } %>

            <small class="user_name">
                <i class="fa-solid fa-user"></i>
                <%= post.user.name %> 
            </small>
        </section>
    
    <% } %>
</div>