<link rel="stylesheet" href="/css/user_sign_in.css">
<link rel="stylesheet" href="/css/user_profile.css">
    

<div class="profile_container">
    <div class="avatar">
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="200">
    </div>
    
        <div class="profile_details">
        <h3>Name:</h3>
            <h2><%= profile_user.name %> </h2>
            <h3>Email:</h3><h4><%= profile_user.email %> </h5>
        </div>
</div>
    


    <% if (user.id == profile_user.id) { %>
        <!-- if the user matches then show the form to update/edit -->
        

        <div class="main_sign_in">
            <div class="sign_in_container update_form">
                <h1>Update Profile</h1>
        
                <div class="login_form">
                    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
                        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>

                        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

                        <input type="file" name="avatar" placeholder="Profile Picture">

                        <input type="submit" value="Update" class="submit_btn" />
                    </form>
                </div>
            </div>
        </div>

    
    <% } %>
       